  <div class="row video-header">
      <video autoplay loop poster="polina.jpg" id="bgvid">
        <source src="polina.webm" type="video/webm">
        <source src="polina.mp4" type="video/mp4">
      </video>
      <img class="center-block logo" src="stitch.png"/>
  </div>


    <div class="mobile-header">
      <h3>STITCH</h3>
    </div>


  <div class="row add-stitch ">
        <% if current_user%>
          <%=link_to 'Create Stitch', new_video_upload_path, class: "btn-big create-btn" %>
        <%else%>
         <%=link_to 'Create Stitch', '/auth/google_oauth2', class: "btn-big create-btn" %>
       <%end%>
  </div>



     <% @tags.all.each do |tag| %>
     <div class="row" id="row-color<%= @tags.index(tag) %>">
        <h3 id="tagname"><%=tag.name.upcase%></h3>
        <div class="col-md-1 text-center centerstitch">
             <a class='glyphicon glyphicon-play-circle icon1' id='<%= tag.name -%>-stitch' data-playlist="<%=tag.videos.pluck(:uid).join(',') %>"></a>
             <br>
             <span class="stitchtext">STITCH</span>
        </div>
             <iframe class="stitch" type="text/html" width="360" height="250"
                src="https://www.youtube.com/embed/<%=tag.videos.first.uid%>?controls=0&modestbranding=1&autohide=1&playlist=<%= tag.videos.offset(1).pluck(:uid).join(',') -%>"
                frameborder="0" allowfullscreen>
              </iframe>

        <div class="col-md-10">
          <section class="scrollbox">
         <% tag.videos.all.each do |video| %>
             <iframe frameborder="0" width="480" height="250" id="ytplayer" name="ytplayer" src= "https://www.youtube.com/embed/<%=video.uid%>?controls=0&modestbranding=1&autohide=1"></iframe>
         <% end %>
         </section>
        </div>

        <div class="col-md-1 centeradd text-center">

          <%=link_to "", new_video_upload_path(tag: tag.name), class: "glyphicon glyphicon-plus icon1", id: "#{tag.name.upcase}-ADDTO"%>
          <br>
             <span class="addtext">ADD VIDEO</span>
        </div>
    </div>
     <% end %>

     <div class="sample">
     </div>


  <script type="text/javascript">

    $(document).ready(function() {

      $('.stitch').hide();
      $('.add').hide();
      $('.mobile-header').hide();

      changeTagContainerBg();
      mobileStyling();

      $(window).resize(mobileStyling);

      $('.stitch-btn').YouTubePlaylistModal({ autoplay:1, width:640, height:480 });

      function mobileStyling() {

          if ($('.sample').css('float') == 'right'){
              $('.stitch').show();
              $('.add').show();
              $('.mobile-header').show();
              $('.row-video').hide();
              $('.video-header').hide();
              $('.hashcontainer').remove();
              changeRowContainerBg();
              } else {
                  $('.stitch').hide();
                  $('.add').hide();
                  $('.row-video').show();
              }
            }

          function changeTagContainerBg(){
          colors = ['#e67e22', '#2ecc71', '#3498db', '#e74c3c','#e67e22', '#2ecc71', '#3498db', '#e74c3c'];
          for(var i = 0; i < <%= @tags.length %>; i++){
            $('#row-color'+i).css('background-color', colors[i]);
            }
          }


        function changeRowContainerBg(){
          colors = ['#e67e22', '#2ecc71', '#3498db', '#e74c3c'];
          for(var i = 0; i < <%= @tags.length %>; i++){
            $('#row-container'+i).css('background-color', colors[i]);
            }
          }

      });

  </script>