  <div class="row video-header">
      <video autoplay loop id="bgvid">
        <source src="stitch.webm" type="video/webm">
        <source src="stitchhd.mp4" type="video/mp4">
      </video>
      <img class="center-block logo" src="stitch.png"/>
  </div>

  <div class="row mobile-header">
    <h3> STITCH </h3>
  </div>

  <div class="row add-stitch ">
        <% if current_user%>
          <%=link_to 'Create Stitch', new_video_upload_path, class: "btn-big create-btn" %>
        <%else%>
          <a href="#" class="btn-big create-btn" data-toggle="modal" data-target="#smallModal">Create Stitch</a>

         <div class="modal fade" id="smallModal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
           <div class="modal-dialog modal-sm">
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title" id="myModalLabel">Please Sign In To Continue!</h4>
               </div>
               <div class="modal-body">
                 <h3><%=link_to 'Sign in with Google', '/auth/google_oauth2', class: "fa fa-google-plus" %></h3>
                </div>
                <div class="modal-footer">
                  <h3>It's worth it :)</h3>
                </div>
             </div>
           </div>
         </div>
       <%end%>
  </div>



     <% @tags.all.each do |tag| %>
      <% if tag.videos.published.count > 0 %>
         <div class="row" id="row-color<%= @tags.index(tag) %>">
            <h2 id="tagname"><%=tag.name.upcase%></h2>
            <div class="col-md-1 text-center centerstitch">
                 <a class='glyphicon glyphicon-play-circle icon1' id='<%= tag.name -%>-stitch' data-playlist="<%=tag.videos.published.pluck(:uid).join(',') %>"></a>
                 <br>
                 <span class="stitchtext">STITCH</span>
            </div>
                 <iframe class="stitch" type="text/html" width="360" height="250"
                    src="https://www.youtube.com/embed/<%=tag.videos.first.uid%>?controls=0&modestbranding=1&rel=0&autohide=1&playlist=<%= tag.videos.published.offset(1).pluck(:uid).join(',') -%>"
                    frameborder="0" allowfullscreen>
                  </iframe>
            <div class="col-md-10">
              <section class="scrollbox">
             <% tag.videos.published.all.each do |video| %>
                 <iframe frameborder="0" width="480" height="250" id="ytplayer" name="ytplayer" src= "https://www.youtube.com/embed/<%=video.uid%>?controls=0&rel=0&modestbranding=1&autohide=1"></iframe>
             <% end %>
             </section>
            </div>

            <div class="col-md-1 centeradd text-center">
              <% if current_user%>
                <%=link_to "", new_video_upload_path(tag: tag.name), class: "glyphicon glyphicon-plus icon1", id: "#{tag.name.upcase}-ADDTO"%>
              <% else %>
                <%=link_to "", '/auth/google_oauth2', class: "glyphicon glyphicon-plus icon1", id: "#{tag.name.upcase}-ADDTO"%>
              <% end %>
            <br>
             <span class="addtext">ADD VIDEO</span>
            </div>
          </div>
      <% end %>
     <% end %>

     <div class="sample">
     </div>

  <script type="text/javascript">

    $(document).ready(function() {

      $('.stitch').hide();
      $('.mobile-header').hide();

      changeTagContainerBg();
      mobileStyling();

      $(window).resize(mobileStyling);

      $('.icon1').YouTubePlaylistModal({ autoplay:1, width:640, height:480 });

      function mobileStyling() {

          if ($('.sample').css('float') == 'right'){
              $('.logo').hide();
              $('.mobile-header').show();
              $('.icon1').YouTubePlaylistModal({ autoplay:1, width:320, height:240 });
              } else {
                $('.logo').show();
                $('.mobile-header').hide();
              }
            }

          function changeTagContainerBg(){
          colors = ['#00DD88', '#FF6969', '#55aadd', '#B19CD9','#FBEC5D', '#2ecc71', '#3498db', '#55aadd'];
          for(var i = 0; i < <%= @tags.length %>; i++){
            $('#row-color'+i).css('background-color', colors[i]);
            }
          }

      });
</script>
